<section class = "card"> 
    
    <a href="/posts/{{id}}">
        <a href="/posts/{{id}}"></a>
        <iframe src="{{posts.[0].photo}}" width="640" height="480" allow="autoplay"></iframe>
        <img src="/images/{{posts.[0].photo}}" alt="{{posts.[0].description}}">
        <p>{{posts.[0].description}}</p>
    </a>

    </section>