<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="../js/posts-animation.js"></script>
<script id="data" data-user="{{loggedInUser.id}}" data-post="{{post.id}}"></script>
<script src="../js/comment.js"></script>
<header class="main-header">
      <a href="/">
        <img src="../images/Logo.png" alt="" class="logo m-3" />
      </a>
      <a href="/user/{{loggedInUser.id}}">
        <div
          class="pfp"
          id="menuPic"
          style="background-image: url({{loggedInUser.profile_picture}})"
        ></div>
      </a>
    </header>

<main class="remove-shadow container mt-4">
    <div class="row">
    <section class="card card-background col-5 m-1">
    <div class="card-header">
        <a href="/user/{{post.user_id}}">
        <div class= "pfp" style="background-image: url({{post.user.profile_picture}})">
        </div>
        </a>
        <p>{{post.user.username}}</p>
    </div>
    <div class="card-body p-0 pb-2">
        <iframe src="{{post.photo}}" width="100%" height="500px" allow="autoplay"></iframe>
        <div class="p-2">
            <p>{{post.description}}</p>
            <button class="button-reset card-buttons">
            <img class="bone" src="../images/dog-bone-logo.png" alt="likes logo">
            </button>
            <button id="commentButton" class="button-reset card-buttons">
            <img src="../images/comment-icon.png" alt="comments logo">
        </button>
        </div>
    </div>
    <div class="card-footer comment-box">
        <h5>Comments</h5>
        {{#each post.comments as |comment|}}
            <div class="custom-comment">
                <a href="/user/{{comment.user.id}}">
                <div class="pfp" style="background-image: url({{comment.user.profile_picture}})"></div>
                </a>
                <p>{{comment.user.username}}</p>
                <p>{{comment.text}}</p>
            </div> 
        {{/each}}
    </section>
    {{!-- comment form --}}

    <aside class="col-6">
        <h1>Comment</h1>
        <form action="">
            <input type="text" id="commentInput">
        <img src="../images/plus_sign.png" alt="submit" class= "comment-button "id="submit" />
        </form>
    </aside>
    </div>
    </main>