{{#each posts as |post|}}
<section class="card">
    <a href="/users/{{post.user_id}}"><img src="" alt="Profile pic"></a>
    <iframe src="{{post.photo}}"></iframe>
        <p>{{post.description}}</p>
        <img src="../images/dog-bone.png" alt="bone logo">
        <img src="../images/comment-icon.png" alt="comment logo">
        <section class="card comment-box">
            {{!-- for each comment print a comment --}}
            {{#each post.comment_id as |comment|}}
            {{#each comment.user_id as |user|}}
            <img src="{{user.profile_pic}}">
            <p>{{comment.text}}</p>
            {{/each}}
            {{/each}}
        </section>
</section>
{{/each}}
