{{#each posts as |post|}}
<section class="card col-3 m-2 p-3">
    <div class="card-header">
        <a href="/api/users/{{post.user_id}}">
        <div class= "pfp" style="background-image: url({{post.user.profile_picture}})">
        </div>
        </a>
        <p>{{post.user.username}}</p>
    </div>
    <div class="card-body">
        <iframe src="{{post.photo}}"></iframe>
        <p>{{post.description}}</p>
        <img src="../images/dog-bone-logo.png" alt="likes logo">
        <img src="../images/comment-icon.png" alt="comments logo">
    </div>
    <div class="card-footer comment-box">
        <h5>Comments</h5>
        {{#each post.comments as |comment|}}
            <div class="custom-comment">
                <a href="/users/{{comment.user.user_id}}">
                <div class="pfp" style="background-image: url({{comment.user.profile_picture}})"></div>
                </a>
                <p>{{comment.user.username}}</p>
                <p>{{comment.text}}</p>
            </div> 
        {{/each}}
    </section>
</section>
{{/each}}