<script src="./js/posts-animation.js">
</script>
<header class="main-header mb-2">
    <a href="">
        <img src="./images/Logo.png" alt="" class="logo m-3" />
      </a>

      <button id= "menuButton" class="button-reset">
        <img src="./images/menu-rounded-100.png" alt="">
      </button>

</header>
{{!-- menu  --}}
<aside class="hide menu" id="menu">
    <div class="">
        <section>
            <a href="api/users/{{loggedInUser.id}}"><article><p>Profile</p></article></a>
            <div class= "pfp" id="menuPic" style="background-image: url({{loggedInUser.profile_picture}})"></div>
        </section>
        <section>
            <a href="/search"><article><p>Search</p></article></a>
            <img src="./images/search_icon.png" alt="">
        </section>
        <section>
            <a href="/newpost"><article><p>Post</p></article></a>
             <img src="./images/plus_sign.png" alt="">
        </section>
    </div>
</aside>

<section class="center-row">
{{#each posts as |post|}}
<section class="card col-5 m-2">
    <div class="card-header">
        <a href="/api/users/{{post.user_id}}">
        <div class= "pfp" style="background-image: url({{post.user.profile_picture}})">
        </div>
        </a>
        <p>{{post.user.username}}</p>
    </div>
    <div class="card-body p-0 pb-2">
        <iframe src="{{post.photo}}" width="100%" height="500px" allow="autoplay"></iframe>
        <div class="p-2">
            <p>{{post.description}}</p>
            <button class="button-reset card-buttons">
            <img id="likeButton" src="../images/dog-bone-logo.png" alt="likes logo">
            </button>
            <a href="/comment/{{post.id}}"><button id="commentButton" class="button-reset card-buttons">
            <img src="../images/comment-icon.png" alt="comments logo">
        </button></a>
        </div>
    </div>
    <div class="card-footer comment-box">
        <h5>Comments</h5>
        {{#each post.comments as |comment|}}
            <div class="custom-comment">
                <a href="/users/{{comment.user.user_id}}">
                <div class="pfp" style="background-image: url({{comment.user.profile_picture}})"></div>
                </a>
                <p>{{comment.user.username}}</p>
                <p>{{comment.text}}</p>
            </div> 
        {{/each}}
    </section>
{{/each}}
</section>

<script src="./js/menu.js"></script>