{{#each posts as |post|}}
<section class="card">
    <iframe src="{{post.photo}}"></iframe>
    <p>{{post.description}}</p>
    <a href="/api/users/{{post.user_id}}"><img src="../seeds/profile_pictures/Cat_red.jpg" alt="Profile pic"></a>
    <img src="" alt="likes logo">
    <img src="" alt="comments logo">
    {{!-- <section class="card comment-box">
        {{!-- for each comment print a comment --}}
        {{#each post.comment_id as |comment|}}
            {{#each comment.user_id as |user|}}
            <img src="{{user.profile_pic}}">
            <p>{{comment.text}}</p>
            {{/each}}
        {{/each}}
    </section> --}}
</section>
{{/each}}